<%= form_for(@shared_offer) do |f| %>
  <% if @shared_offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shared_offer.errors.count, "error") %> prohibited this shared_offer from being saved:</h2>

      <ul>
      <% @shared_offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :offer_id %><br>
    <%= f.text_field :offer_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :is_accepted %><br>
    <%= f.check_box :is_accepted %>
  </div>
  <div class="field">
    <%= f.label :datetime_accepted %><br>
    <%= f.datetime_select :datetime_accepted %>
  </div>
  <div class="field">
    <%= f.label :is_redeemed %><br>
    <%= f.check_box :is_redeemed %>
  </div>
  <div class="field">
    <%= f.label :datetime_redeemed %><br>
    <%= f.text_field :datetime_redeemed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
